
  <div class="well well-lg">
    <br/>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <br/>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
    </div>
    <br/>
    <button class="btn btn-primary btn-block">Login</button>
  </div>
